{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block page %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>

<br>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <div class="panel-title">Listado de Olimpiadas.</div>
		    </div>
		    <div style="padding-top:10px" class="panel-body">
				<table class="table table-hover" id="sort" style="width:100%">
                    <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Apellido, Nombre</th>
                            <th>Dni</th>
                            <th>Fecha Generado</th>
                            <th>Importe</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total = 0 %}
                        {% set generados = 0 %}
                        {% set seniados = 0 %}
                        {% set pagados = 0 %}
                
                        {% for entity in entities %}

                            {% if entity.estado == 1 %}
                                {% set seniados = seniados + 1 %}
                                <tr class="warning"> 
                            {% elseif entity.estado == 2 %}
                                {% set pagados = pagados + 1 %}
                                <tr class="success"> 
                            {% else %}
                                {% set generados = generados + 1 %}
                                <tr>    
                            {% endif %}

                                <td>{{ entity.matricula }}</td>
                                <td>{{ entity.nombre }}</td>
                                <td>{{ entity.dni }}</td>
                                <tD>{{ entity.fecha|localizeddate('full', 'none') }}</td>
                                <td>${{ entity.importeTotal }}</td>
                                {% set total = total + entity.importeTotal %}
                                {% if entity.estado == 0 %}
                                    <td>Generado</td>
                                {% elseif entity.estado == 1 %}
                                    <td>Señado</td>
                                {% else %}
                                    <td>Pagado</td>
                                {% endif %}
                                <th>
                                    <a class="glyphicon glyphicon-search tooltips"  href="{{ path('listado_pdf', {'id': entity.id } ) }}" title="" rel="tooltip" data-original-title="Ver Detalles"></a>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align: right">SubTOTAL:</th>
                            <th>${{ total }}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
		    </div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $("#sort").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            }
        });
    });
</script>
{% endblock page %}