{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block page %}
<br>
<div class="row">
    <div class="col-lg-10 col-md-12 col-sm-12">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <div class="panel-title">Gestión Inscripciones.</div>
		    </div>
		    <div style="padding-top:10px" class="panel-body">
				<a class="btn btn-warning" href="{{ path('admin_inscripciones_moldes') }}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Moldes</a>
		    	<a class="btn btn-warning" href="{{ path('admin_inscripciones_hoteles') }}"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span> Hoteles</a>
		    	<a class="btn btn-warning" href="{{ path('admin_inscripciones_disciplinas') }}"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Disciplinas</a>
		    	<a class="btn btn-warning" href="{{ path('admin_inscripciones_transportes') }}"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span> Transportes</a>
		    	<a class="btn btn-warning" href="{{ path('admin_inscripciones_areas') }}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Areas</a>
				<a class="btn btn-warning" href="{{ path('admin_inscripciones_extras') }}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Extras</a>
				<a class="btn btn-warning" href="{{ path('admin_inscripciones_circunscripciones') }}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Circunscripciones</a>
				<a class="btn btn-warning" href="{{ path('admin_inscripciones_fueros') }}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Fueros</a>
		    </div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        <div class="panel-title">Listados.</div>
		    </div>
		    <div style="padding-top:10px" class="panel-body">
				<a class="btn btn-primary" href="{{ path('admin_olimpiadas_index') }}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Olimpiadas</a>
		    	<a class="btn btn-primary" href="{{ path('admin_peritos_index') }}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Peritos</a>
				<a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Congreso</a>
				<a class="btn btn-primary" href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Sindicos</a>
		    </div>
		</div>
	</div>
</div>
{% endblock page %}